* { 
    padding: 0;
    margin: 0;
    font-size: 100%;
    
  

}

p, h1, h2, h3, h4, blockquote, li, cite, table
{
        max-width: 650px;
        min-width: 320px;
       font-family: 'News Cycle', sans-serif;
        margin: auto;   
        background-colour: #ededed;
        color: #333;
    }


/*--------------- TYPOGRAPHY---------------*/

header {
  text-align: center;
}

.small {
    color: #333;
    margin-top: 0.5em;
    font-size: 0.8em;
    margin-top: -132em;
    margin-bottom: 8em;
    }

h1 { font-family: "myriad-std-tilt";
        letter-spacing: 0.08em;}
    

h2 {
    font-family: "myriad-std-tilt";
    color: #E05A5A;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;}

h3 {
    color: #333;
    font-size: 1em;
    font-weight: 700;
    margin-top: 8em;
    font-family: "myriad-std-tilt";
    text-transform: uppercase;
}

h4 {font-family: "myriad-std-tilt";
    font-size: 2em;
    margin-top: 2em;
    text-align: center;}

p {
    line-height: 1.8em;
    margin-bottom: 2em;
    font-size: 1.1em;
}



/*--------------- HEADER ---------------*/


    .star {
        visibility: hidden;
    }

    .fadeIn {
        -webkit-animation: animat_show 0.8s;
        animation: animat_show 0.8s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
    }



.parallax {
    /* The image used */
    background-image: url(../images/layers-02.svg);

    /* Set a specific height */
    height: 850px;
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.layer-two { background-image: url(../images/layers-01.svg);
    background-size: cover;
    background-position: center center;
    height: 1200px;
    margin-top: -22em;}

h1 {color: #333;}

.title { 
    font-size: 2.5em;
}

.title2 {font-size: 6.5em;
    }

.title3{font-size: 2.5em;
        }

.author { 
    color: #333;
    margin-top: 0.5em;
    font-size: 0.8em;}

.fadein {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: block;
    opacity: 0.9;
    }

a:hover img{
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform:scale(1.2);
    }


/*--------------- REDISCOVERY SECTION---------------*/

.intro {text-align: left;
        margin-top: 52.4em;
        padding: 1em;
        font-size: 1.4em;
        font-family: 'News Cycle', sans-serif;
        color: #efd97f;}

.purple { background: #1d1d33;
          padding-bottom: 20em;}

#rediscovery p {color: #fff;}

.clouds {margin-top: -30em;}

.clouds-bottom {margin-top: -1.5em;}

/*--------------- NEW ZEALND SECTION ---------------*/

.newzealand {margin-top: -0.1em;}

.facts {text-align: center;}

.fact-clouds {max-width: 750px;
              margin-top: 2em;}

/*--------------- WINGS SECTION---------------*/

blockquote { 
    text-align: center;}

.quote { 
        font-family: "myriad-std-tilt";
        color: white;
        margin-bottom: 0.5em;
        margin-top: -11em;
        font-size: 1.8em;
        text-align: justify;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        }

cite {
    font-family: "myriad-std-tilt";
    color: #fff;
    font-size: 1.2em;}

.quote-bg { background-image: url(../images/quote-01.svg);
    background-size: cover;
    background-position: center center;
    height: 570px;
    margin-top: -25em;
   }

.survive { margin-top: 8em;}



table {
    font-family: "myriad-std-tilt";
    font-size: 1.2em;
    border-collapse: collapse;
    width: 50%;
    margin-top: 2em;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(odd){background-color: rgba(244, 221, 122, 0.4)}

th {
    background-color:#1d1d33;
    color: #f4dd7a;;
}


tr:hover
    {background: #F38077;
    color: white;}


/*--------------- FOOTER ---------------*/

footer {background: #1d1d33;
        padding: 1em;
        font-size: 0.8em;
        text-align: center;}

footer p {color: #fff;}
