* { 
    padding: 0;
    margin: 0;
    font-size: 100%;
    
  

}

p, h1, h2, h3, h4, blockquote, li
{
        max-width: 700px;
        min-width: 320px;
       font-family: 'News Cycle', sans-serif;
        margin: auto;   
        background-colour: #fff;
        color: #464647;
        line-height: 2em;
    }


/*--------------- TYPOGRAPHY---------------*/

header {
  text-align: center;
}

.small {
    color: #1e1b33;
    font-size: 0.7em;}

h2 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;}

h3 {
    color: #464647;
    font-size: 2em;
    font-weight: 700;}


p {
    line-height: 1.8em;
    margin-bottom: 2em;
    font-size: 1em;
}



/*--------------- HEADER ---------------*/

.hero {
    background-image: url(../images/hero.svg);
    background-size: cover;
    background-position: center center;
    height: 1500px;
    margin-top: -6em;
}

.title { margin-top: -57em;}
